{% extends 'AdminBundle::layout.html.twig' %}

{% block title 'Панель администратора. Объявления' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1 class="page-header">{%if action is defined and action=='add' %}Добавление{% else %}Редактирование{% endif %} объявления</h1>
    
{% endblock %}