{% extends 'AdminBundle::layout.html.twig' %}

{% block title 'Панель администратора.' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1 class="page-header">Администраторская панель</h1>
    <div class="jumbotron">
        <h1>Добро пожаловать!</h1>
        <p>Вы находитесь в адмнистраторской панели сайта. Здесь Вы имеете возможность управлять сайтом, добавлять/редактировать/удалять объявления. А также управлять доступом к этой части сайта.</p>
    </div>
{% endblock %}