{% extends 'AdminBundle::layout.html.twig' %}

{% block title 'Панель администратора. Пользователи' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1 class="page-header">Users</h1>
{% endblock %}