{% extends 'WebBundle::layout.html.twig' %}

{% block title 'Недвижимость.' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="col-md-9">
        <div class="row carousel-holder">
            <h1>О нас</h1>
        </div>
        <div class="jumbotron">
            <h1>Дипломный проект</h1>
            <p>Сайт был разработан в качестве дипломного проекта в Северо-Кавказском горно-металлургическом институте (государственном технологическом университете).</p>
        </div>
    </div>
{% endblock %}