{% extends 'WebBundle::layout.html.twig' %}

{% block title 'Недвижимость.' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="col-md-9">
        <div class="row carousel-holder">
            <h1>Контакты</h1>
        </div>
        <div class="jumbotron">
            <p>
                Полное наименование:<br>
Федеральное государственное бюджетное образовательное учреждение высшего профессионального образования «Северо-Кавказский горно-металлургический институт (государственный технологический университет)»<br>
Сокращенное наименование:<br>
ФГБОУ ВПО «СКГМИ (ГТУ)»<br>
Международное наименование:<br>
North Caucasian Institute of Mining and Metallurgy (State Technological University), NCIMM (STU)<br>
Адрес:<br>
362021, РСО-Алания, г. Владикавказ, ул. Николаева, 44<br>
Телефон:<br>
+7 (8672) 40-71-01<br>
Факс:<br>
+7 (8672) 40-72-03<br>
Официальный сайт:<br>
http://www.skgmi-gtu.ru<br>
Официальная почта:<br>
info@skgmi-gtu.ru<br>
Режим работы:<br>
Понедельник – пятница: 9:00 – 19:00<br>
Суббота: 9:00 – 17:00<br>
Воскресенье: выходной<br>
            </p>
        </div>
    </div>
{% endblock %}