{% extends 'WebBundle::layout.html.twig' %}

{% block title 'Недвижимость.' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1 class="page-header">Администраторская панель</h1>
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        </p>
    </div>
{% endblock %}